pipeline/End_To_End_Pipeline.json
{
	"name": "End_To_End_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Upstream DataLake to DataLake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DataLake_To_7x4_DataLaka",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Execute SQL To DataLake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Azure_SQL_To_Datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "OnPrem SQL To Datalake",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "OnPremise_SQL_To_Datalake",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Execute Upstream DataLake to DataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Execute SQL To DataLake",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "OnPrem SQL To Datalake",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.Layer_Name",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Databricks_Notebook_Run",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Databricks_Notebook_Run",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Layer_Name": {
										"value": "@item()",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"Layer_Name": {
				"type": "array",
				"defaultValue": [
					"ALL"
				]
			}
		},
		"annotations": []
	}
}